@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Ubuntu:ital,wght@0,300;0,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

/* width */

::-webkit-scrollbar {
    width: 0.8rem;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #583d72;
    border-radius: 1rem;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #c9cbff;
}

body {
    margin: 4rem 0 0;
    padding-bottom: 30vh;
    position: relative;
    min-height: 80vh;
}

.h1 {
    font-size: 4rem;
    font-family: 'Lora', serif;
}

.titulo-section {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.h3 {
    font-size: 3rem;
    font-family: 'Lora', serif;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    padding-top: 1.5rem;
}

h4 {
    font-family: sans-serif;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

hr {
    border: none;
    width: 8rem;
    border-bottom: 1rem dotted #583d72;
    opacity: 0.5;
    padding: 3rem 0;
}

.icon-section {
    font-size: 6rem;
    display: block;
    margin: 1rem auto;
}

.index-section {
    text-align: center;
    width: 50%;
    margin: 8rem auto;
}

.form-container {
    margin-top: calc(20vh);
}

.fw-bold {
    font-weight: 500;
}

#brand-icon {
    font-size: 1.5rem;
}

#grupo-footer {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
    font-size: large;
}

#brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 700;
    font-size: x-large;
}

#olas {
    z-index: -1;
    position: absolute;
    bottom: 0;
}

#olas-div {
    height: 30vh;
    width: 100%;
    overflow: hidden;
    margin: 3rem 0 0;
    padding: 5rem 0 0;
    position: absolute;
    bottom: 2rem;
}

button.list-group-item.list-group-item-action.list-group-item-secondary:focus,
#audio_controls:focus {
    outline: none;
}

.draggable-list {
    padding: 0;
    list-style: none;
}

.draggable-list li {
    display: flex;
    height: 60px;
    border: 1px solid #dcdcdc;
    border-bottom: 0;
    flex: 1;
}

.draggable-list li:last-of-type {
    border-bottom: 1px solid #dcdcdc;
}

.draggable-list .number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 60px;
}

.draggable p {
    margin: 0;
}

.draggable-reproducir {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    flex: 1;
}

.draggable {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    flex: 1;
}

.lista-nombre-item:focus {
    outline: none;
    background-color: #e0e0e0;
}

.draggable-list li.over {
    background-color: #e0e0e0;
}

.draggable-list li.drag {
    opacity: 0.95;
}

@media screen and (min-width: 960px) {
    .index-section {
        width: 35%;
        text-align: justify;
    }
    .cropped {
        margin: 0;
        padding: 0;
        height: calc(100vh - 4rem);
        width: 100%;
        overflow: hidden;
    }
    #img3 {
        margin: -4vh 0px;
    }
    #img1 {
        margin: -20vh 0px;
    }
    #olas {
        object-position: 0 -50%;
    }
    #olas-div {
        height: 30vh;
        width: 100%;
        overflow: hidden;
        margin: 5rem 0 0;
        padding: 5rem 0 0;
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width:576px) {
    .index-section {
        width: 80%;
        text-align: center;
    }
}