body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.contenido {
    padding: 20vh 0;
}

button.list-group-item.list-group-item-action.list-group-item-secondary:focus {
    outline: none !important;
}

@media screen and (min-width: 960px) {
    .cropped {
        margin-top: 2rem;
        height: 90vh;
        width: 100%;
        overflow: hidden;
    }
    #img3 {
        margin: -4vh 0px;
    }
    #img1 {
        margin: -20vh 0px;
    }
}