/* ejercicio4.css */

club {
    background-color: #145a32;
    min-width: 1080px;
    padding: 10%;
    line-height: 1.5;
}

club[nombre]::before {
    content: attr(nombre);
    color: #b5c0c7;
    font-size: 35px;
    font-weight: bold;
    display: block;
    margin: auto;
    padding: 5px;
    text-align: center;
}

directiva[inicio_periodo]::before {
    content: "Periodo del " attr(inicio_periodo) " al " attr(final_periodo);
}

directiva {
    display: block;
    border: 3px double yellow;
    border-radius: 1rem;
    text-align: center;
    margin: 10px auto;
    color: #f5e729;
    background-color: #1f1d1e;
    padding-bottom: 10px;
    padding-top: 10px;
}

presidente::before {
    content: "Presidente: ";
    display: block;
    padding-top: 10px;
    color: white;
}

vice_presidente::before {
    content: "Vice-presidente: ";
    display: block;
    padding-top: 10px;
    color: white;
}

cuerpo_tecnico {
    display: block;
    border: 3px double yellow;
    border-radius: 1rem;
    text-align: center;
    margin: 10px auto;
    color: #f5e729;
    background-color: #1f1d1e;
    padding-bottom: 10px;
}

director_tecnico::before {
    content: "Director tecnico: ";
    padding-top: 10px;
    display: block;
    color: white;
}

auxiliar_tecnico::before {
    content: "Auxiliar tecnico: ";
    display: block;
    padding-top: 10px;
    color: white;
}

preparador_fisico::before {
    content: "Preparador fisico: ";
    display: block;
    padding-top: 10px;
    color: white;
}

medico::before {
    content: "Medico: ";
    display: block;
    padding-top: 10px;
    color: white;
}

nutricionista::before {
    content: "Nutricionista: ";
    display: block;
    padding-top: 10px;
    color: white;
}

masajista::before {
    content: "Masajista: ";
    display: block;
    padding-top: 10px;
    color: white;
}

utilero::before {
    content: "Utilero: ";
    display: block;
    padding-top: 10px;
    color: white;
}

jugadores {
    width: 620px;
    height: 60rem;
    margin: 3% auto;
    position: relative;
    display: inline-block;
    float: right;
    background-image: url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
}


/*SUPLENTES*/

suplentes {
    margin: 10% auto;
    padding: 0.5rem;
    width: 25%;
    color: #fff;
    display: inline-block;
}

suplentes::before {
    content: "SUPLENTES:";
    font-size: 28px;
    text-decoration: underline;
}

suplentes jugador:hover {
    color: #fff;
    text-decoration: underline;
}

suplentes jugador {
    display: block;
    width: fit-content;
}

jugador {
    color: #fff;
    font-size: 18px;
}

jugadores jugador:hover {
    color: #f5e729;
    text-decoration: underline;
}

jugadores jugador {
    position: absolute;
}

jugadores jugador[posicion=portero] {
    right: 40%;
    top: 10rem;
}

jugadores jugador[posicion=delantero]:nth-child(2n+1) {
    right: 12rem;
}

jugadores jugador[posicion=delantero]:nth-child(2n) {
    left: 12rem;
}

#dl6 {
    top: 35rem;
}

jugadores jugador[posicion=delantero] {
    top: 28rem;
    color: khaki;
}

jugadores jugador[posicion=centrocampista]:nth-child(2n+1) {
    right: 10rem;
}

jugadores jugador[posicion=centrocampista]:nth-child(2n) {
    left: 10rem;
}

jugadores jugador[posicion=centrocampista] {
    top: 22rem;
    color: khaki;
}

#c5 {
    top: 38rem;
}

jugadores jugador[posicion=defensa]:nth-child(2n+1) {
    right: 5rem;
}

jugadores jugador[posicion=defensa]:nth-child(2n) {
    left: 5rem;
}

jugadores jugador[posicion=defensa]:nth-child(1),
jugadores jugador[posicion=defensa]:nth-child(2) {
    top: 15rem;
}

#df3,
#df4 {
    bottom: 15rem;
}