* {
    display: block;
}

fichero {
    width: 50%;
    margin: 5rem auto;
    background: rgba(127, 255, 212, 0.25);
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    line-height: 2;
}

ficha {
    border: 5px dotted white;
    padding: 2rem;
    padding-left: 5rem;
    border-radius: 5rem;
    background: rgb(127, 255, 212);
    color: white;
    font-weight: bolder;
}

nombre::before {
    margin-right: 1rem;
    content: "Nombre:";
    color: #d2e603;
    font-size: 1rem;
}

apellido::before {
    margin-right: 1rem;
    content: "Apellido:";
    color: #d2e603;
    font-size: 1rem;
}

nombre[sexo]::after {
    margin-left: 3rem;
    content: " sexo: "attr(sexo) " - edad: "attr(edad);
    color: #d2e603;
}

direccion::before {
    margin-right: 1rem;
    content: " dirección: ";
    color: #d2e603;
}

facebook::before {
    content: "Facebook: ";
    color: #d2e603;
}

instagram::before {
    content: "Instragram:";
    color: #d2e603;
}

twitter::before {
    content: "Twitter: ";
    color: #d2e603;
}

telefono::before {
    content: "telefono "attr(tipo)" : ";
    color: #d2e603;
}

DUI::before {
    content: "DUI: ";
    color: #d2e603;
}