* {
    display: block;
}

fichero{
    width: 50%;
    margin: 5rem auto;
    background: rgba(127, 161, 255, 0.555);
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    line-height: 2;
}

ficha{
    border: 5px dotted white;
    padding: 2rem;
    padding-left: 5rem;
    border-radius: 5rem;
    background: rgba(127, 161, 255, 0.671);
    color: white;
    text-shadow: 0 0 1rem rgb(40, 74, 112);
    font-weight: bolder;
}

nombre::before {
    margin-right: 1rem;
    content: "Nombre:";
    color: blue;
    font-size: 1rem;
}

apellido::before {
    margin-right: 1rem;
    content: "Apellidos:";
    color: blue;
    font-size: 1rem;
}

segundoapellido::after{
    content: attr(tipo);
    color: red;
}

fechanacimiento::before{
    content: "Fecha de nacimiento: " attr(fechanacimiento);
    color: blue;
}

nombre[sexo]::after {
    margin-left: 3rem;
    content: " sexo: "attr(sexo);
    color: red;
}

direccion::before {
    margin-right: 1rem;
    content: " Dirección: ";
    color: blue;
}

departamento::before{
    content: "-Departamento: ";
    color: blue;
}

municipio::before{
    content: "-Municipio: ";
    color: blue;
}

calle::before{
    content: "-Calle: ";
    color: blue;
}

DUI::before{
    content: "DUI: ";
    color: blue;
}

carnetminoridad::before{
    content: "Carnet de minoridad: ";
    color: blue;
}

NIT::before{
    content: "NIT: ";
    color: blue;
}