* {
    display: block;
}

fichero {
    width: 50%;
    margin: 5rem auto;
    background: rgba(127, 255, 212, 0.25);
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    line-height: 2;
}

ficha {
    border: 5px dotted white;
    padding: 2rem;
    padding-left: 5rem;
    border-radius: 10rem;
    background: rgba(127, 255, 212, 0.35);
    color: white;
    text-shadow: 0 0 1rem rgb(40, 112, 88);
    font-weight: bolder;
}

nombre::before {
    margin-right: 1rem;
    content: "Nombre:";
    color: blue;
    font-size: 1rem;
}

apellido::before {
    margin-right: 1rem;
    content: "Apellido:";
    color: blue;
    font-size: 1rem;
}

nombre[sexo]::after {
    margin-left: 3rem;
    content: " sexo: "attr(sexo) " - edad: "attr(edad);
    color: green;
}

direccion::before {
    margin-right: 1rem;
    content: " dirección: ";
    color: blue;
}


/*
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="css/ejercicio-ii-1c-dtd.css" ?>

<!DOCTYPE fichero [
		<!ELEMENT fichero (ficha+)>
		<!ELEMENT ficha (nombre, apellido, direccion*, DUI?)>
		<!ELEMENT nombre (#PCDATA)>
		<!ATTLIST nombre sexo (masculino|femenino) #REQUIRED>
            	<!ATTLIST nombre edad  CDATA  #IMPLIED>
		<!ELEMENT apellido (#PCDATA)>
		<!ELEMENT direccion (#PCDATA)>
		<!ELEMENT DUI (#PCDATA)>
		]>
<fichero>
 <ficha>
  <nombre sexo="femenino" edad="17">Angelina</nombre>
  <apellido>Fernandez</apellido>
  <direccion>c/Ulises, 36</direccion>
 </ficha>
</fichero>
*/