/* 
< ><region id="1"zona="Occidental">
<registrosemanal numerodesemana="1"><registrodiario dia="Lunes">
 <temperatura tipo="Mínima"unidad="°C">20</temperatura>*/

snet {
    display: block;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    line-height: 1.5;
}

region {
    width: 25%;
    border: 3px dotted #efffd7;
    border-radius: 1rem;
    padding: 3%;
    margin-left: 0.8%;
    margin-right: 0.8%;
    display: inline-block;
}

registrosemanal {
    padding: 1rem;
    display: block;
    margin: 2rem;
}

registrodiario {
    border: 3px solid greenyellow;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    display: block;
}

temperatura {
    display: block;
}

snet::before {
    content: "Servicio Nacional de Estudios Territoriales";
    font-size: 3rem;
    font-family: serif;
    display: block;
    text-align: center;
    margin-bottom: 3rem;
}

region::before {
    padding-left: 4rem;
    font-size: x-large;
    content: "Zona: "attr(zona);
}

registrosemanal::before {
    padding-left: 1rem;
    font-size: larger;
    content: "Semana N. "attr(numerodesemana);
}

registrodiario::before {
    content: "Dia: "attr(dia);
}

temperatura::before {
    content: "Temperatura "attr(tipo);
}

temperatura::after {
    content: attr(unidad);
}

region[zona="Central"] {
    float: right;
}

region[zona="Oriental"] {
    float: right;
}