<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!-- Servicio Nacional de Estudios Territoriales -->
<snet>
  <region id="1" zona="Occidental">
    <registrosemanal numerodesemana="1">
      <registrodiario dia="Lunes">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Martes">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Miercoles">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Jueves">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Viernes">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Sabado">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Domingo">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
    </registrosemanal>
    <registrosemanal numerodesemana="2">
      <registrodiario dia="Lunes">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">25</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Martes">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Miercoles">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Jueves">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Viernes">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Sabado">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Domingo">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
    </registrosemanal>
  </region>
  <region id="2" zona="Central">
    <registrosemanal numerodesemana="1">
      <registrodiario dia="Lunes">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Martes">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Miercoles">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Jueves">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Viernes">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Sabado">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Domingo">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
    </registrosemanal>
    <registrosemanal numerodesemana="2">
      <registrodiario dia="Lunes">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">25</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Martes">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Miercoles">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Jueves">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Viernes">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Sabado">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Domingo">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
    </registrosemanal>
  </region>
  <region id="3" zona="Oriental">
    <registrosemanal numerodesemana="1">
      <registrodiario dia="Lunes">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Martes">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Miercoles">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Jueves">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Viernes">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Sabado">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Domingo">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
    </registrosemanal>
    <registrosemanal numerodesemana="2">
      <registrodiario dia="Lunes">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">25</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Martes">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Miercoles">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Jueves">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Viernes">
        <temperatura tipo="Mínima" unidad="°C">20</temperatura>
        <temperatura tipo="Promedio" unidad="°C">23</temperatura>
        <temperatura tipo="Máxima" unidad="°C">30</temperatura>
      </registrodiario>
      <registrodiario dia="Sabado">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
      <registrodiario dia="Domingo">
        <temperatura tipo="Mínima" unidad="°C">21</temperatura>
        <temperatura tipo="Promedio" unidad="°C">24</temperatura>
        <temperatura tipo="Máxima" unidad="°C">31</temperatura>
      </registrodiario>
    </registrosemanal>
  </region>
</snet>
