@import url("https://fonts.googleapis.com/css?family=Roboto");
*{
    font-family: Roboto;
}
universidad{
    background-color:wheat;
}
universidad[nombre]::before{ 
    display:block;
    content: attr(nombre);
    font-size:38px;
    text-align: center;
    margin-bottom:12px;
    color:red;
}
facultad[nombre]::before{
    display:block;
    text-align: center;
    font-size:22px;
    content: attr(nombre);
    margin-bottom:5px;
}
carrera[nombre]::before{
    display:block;
    text-align: center;
    content:attr(nombre);
    margin-bottom:2.5px;
}
materia[nombre]::before{
    display:block;
    text-align: center;
    content:attr(nombre);
    margin-bottom:10px;
}
grupo[tipo][numero]::before{
    display:block;
    text-align: center;
    content:attr(tipo)": " attr(numero);
    margin-bottom:2.5px;
}
profesor::before{    
    content:"ING. ";
    font-weight: bold;
}
profesor{
    display:block;
    margin-bottom:2.5px;
    text-align: center;
}
equipo_trabajo{
    display:grid;
    width:90%;
    margin-right:auto;
    margin-left: auto;
    margin-top:10px;
    grid-template-columns: repeat(auto-fill , auto);
    gap: 10px;
}
equipo_trabajo[numero][tema]::before{
    content:"Grupo: " attr(numero) " Tema: " attr(tema);
    grid-column: span 2;
    text-align:center;
}
actividad_evaluada[tarea][porcentaje]::after{
    grid-column: span 2;
    content:"Tarea: " attr(tarea) " Porcentaje: " attr(porcentaje);
    text-align:center;
}
actividad_evaluada{
    grid-column: span 2;
    margin-bottom:10px;
    text-align:center;
}
integrante1::before ,integrante2::before, integrante3::before,integrante4[rol][sexo]::before{
    display:block;
    content:"Rol: " attr(rol) " Sexo: " attr(sexo);
    /*font-weight: bold;*/
    font-size:15px;
    text-align:center;
    padding:2.5px;
}
integrante1,integrante2,integrante3,integrante4{
    background-color:#86daaa ;
    padding:10px;
    border:solid 1px black;
    border-radius: 5px;
}
carnet,nombre,apellido,dui,telefono{
    display:block;
    text-align:center;
    padding:2.5px;
}
carnet{
    background-color: rgb(182, 121, 52);
    border-radius: 5px;
}
carnet::before{
    content: "Carnet: ";
    font-weight: bold;
    
}
nombre::before{
    content: "Nombres: ";
    font-weight: bold;
}
apellido::before{
    content: "Apellidos: ";
    font-weight: bold;
}
dui::before{
    content: "DUI: ";
    font-weight: bold;
}
telefono::before{
    content: "Telefono: ";
    font-weight: bold;
}
